<%- include('partials/header.ejs') -%>

<div class="login-discord">
    <form action="/auth">
    <button class="button is-link is-large custom-button">Discord</button>
    </form>
</div>

<%- include('partials/footer.ejs') -%>
